* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    color: #292b2c;
}

.container {
    width: 1240px;
    max-width: 100%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

main {
    display: block;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #04a4cc;
}

a:hover {
    text-decoration: underline;
    color: #014c8c;
}

span {
    font-style: italic;
}

.about-social {
    border-top: 1px solid #ccc;
}

.about-social div {
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
}

.author {
    float: left;
    width: 50%;
}

.author p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}

.author a {
    color: #292b2c;
}

.social {
    float: right;
    width: 50%;
    text-align: right;
}

.fab, .far {
    padding-left: 10px;
    display: inline-block;
    font-size: x-large;
}

.principal-image {
    margin: 20px 0;
}

.principal-image img {
    height: 450px;
    width: 100%;
}

.article-container {
    margin: 0 -15px;
}

.article {
    border-right: 1px solid #ccc;
    float: left;
    width: 66.6%;
    padding: 15px;
}

.bulletpoints {
    margin: 0 0 2em 0;
    padding-right: 5em;
}

.bulletpoints ul {
    margin-bottom: 1em;
    padding-left: 1em;
}

.bulletpoints ul li {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
}

.article-text p, .credits p {
    margin-right: 5em;
    margin-bottom: 1em;
    font-size: 1.06em;
    font-weight: 400;
    line-height: 25px;
}

iframe {
    width: 100%;
    margin: 2em 0;
}

figure {
    margin: 25px 0;
}

figure img {
    max-width: 98.5%;
    height: auto;
}

figure figcaption {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 17px;
    max-width: 98%;
}

footer {
    margin: 32px 0;
}

footer::before {
    display: inline-block;
    width: 5em;
    border-top: 1px solid;
    height: 1em;
    content: '';
}

.footer-text, .tags a {
    padding-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}

.tags a {
    font-size: 0.815em;
}

.button-container {
    float: right;
    margin-top: 15px;
}

.button-container p{
    text-align: center;
}

a.action-button {
    width: 300px;
    border: 1px dashed #ccc;
    padding: 13px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}